/*PÁGINA GALERIA - CARRUSEL*/

.ContenedorCarrusel h1{
    color:$ColorBlanco;
    font-weight: bold;
    font-size: 20px;
}
 
/* vista desktop */
@media only screen and (min-width: 768px){
.ContenedorCarrusel{
    @include PropiedadesGrid (grid,repeat(2,1fr),repeat(2,1fr),0px,0px);
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px
}
}
/* vista mobile */
@media only screen and (max-width: 767px){
.ContenedorCarrusel{
    @include PropiedadesGrid (grid,repeat(1,1fr),repeat(4,1fr),0px,0px);
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px
}
}