/*Color de fondo de toda la web*/

body{
    background-color: $ColorFondo;
}

/*INICIO - MAIN*/

/* vista desktop */
@media only screen and (min-width: 768px){
    .Inicio{
        @include PropiedadesGrid (grid,repeat(2,1fr),none,none,none);
    }
    .presentacion1{
        color: $ColorTexto;
        font-size: 30px;
        margin-left: 60px;
        margin-top: 60px;
        font-weight:bold;
        text-decoration: none;
    }
    .GF{
        color:$ColorRosa;
        text-decoration: none;
        text-emphasis: none;
    }
    .presentacion2{
        display: flex;
        padding-top: 60px;
        color:$ColorTexto;
        font-size: 20px;
        text-decoration: none;
    }
    .presentacion2bis{
        display: flex;
        padding-top: 5px;
        color:$ColorTexto;
        font-size: 20px;
        text-decoration: none;
    }
    .presentacion3{
        @include PropiedadesGrid (grid,repeat(2,1fr),repeat(2,1fr),20px,30px);
        color:$ColorTexto;
        padding: 0px;
        margin-bottom: 40px;
        margin-top: 40px;
        margin-left:60px ;
    }
    .desc{
        list-style: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        li{
            margin-left: 15px;
        }
    }
    .videoinicio{
        padding:20px;
        margin-left: 80px;
    }
}
/* vista mobile */
@media only screen and (max-width: 767px){
    .Inicio{
        @include PropiedadesGrid (grid,repeat(1,1fr),auto,none,none);
        align-items: center;
    }
    .presentacion1{
        color:$ColorTexto;
        font-size: 30px;
        margin-left: 20px;
        margin-top: 60px;
        font-weight:bold;
    }
    .GF{
        color:$ColorRosa;
        text-decoration: none;
    }
    .presentacion2{
        display: flex;
        padding-top: 60px;
        color:$ColorTexto;
        font-size: 20px;
        text-decoration: none;
    }
    .presentacion2bis{
        display: flex;
        padding-top: 5px;
        color:$ColorTexto;
        font-size: 20px;
        text-decoration: none;
    }
    .presentacion3{
        color:$ColorTexto;
        @include PropiedadesGrid (grid,repeat(2,1fr),repeat(2,1fr),20px,30px);
        padding: 0px;
        margin-bottom: 10px;
        margin-top: 50px;
        margin-left:20px ;
    }
    .desc{
        list-style: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        li{
            margin-left: 15px;
        }
    }
    .videoinicio{
        padding-top:20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        img{
            @include Sizes (100%, auto);
        }
    }
}

/*PAGINA SERVICIOS - MAIN*/

.card-body{
    h1{
        font-size: 25px;
    }
}
    
/*PÁGINA CONTACTO - MAIN*/
.contacto{    
    margin-left: 40px;
    margin-top: 40px;
    padding-bottom: 20px;
    h3{
        color: $ColorRosa;
        font-weight:bold;
        font-size: 20px;
        margin-bottom: 30px;
    }
}
.Gridredes ul a{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

/*PÁGINA NOSOTROS - MAIN*/

.main_nosotros {
    background-image: url("../img/imagen33.png");
    background-size: 100%;
    background-position: center;
    h4{
        font-size: 35px;
        color: $ColorBlanco;
        text-align:left;
        font-weight:bold;
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom:10px;
    }
}
.nosotros{
    @include PropiedadesGrid (grid,repeat(1,1fr),repeat(5),30px,none);
    padding: 40px;
}
.fila{
    font-size: 20px;
    color:$ColorBlanco;
    font-style: oblique;
    text-align: left;
    font-weight:bold;
}